{% extends 'navbar2.html.twig' %}
{% block body %}
  <h3></h3>  
 	  <div class="alert alert-info" role="alert" id="d">
  <h4 class="alert-heading">{{'Welcome to our platform' | trans }} {{ name }}</h4>
  <p>  {{ msg1 }}</p>
  <hr>
  <p class="mb-0">  {{ msg2 }}</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
 #d{
  max-width: 700px;
  max-height: 300px;
  margin-left: 600px;
  margin-top: 200px;

 }
</style>

{% endblock  %}
